@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

textarea {
    height: 150px;
}

button {
    cursor: pointer;
}

.main {
    max-width: 1200px;
    padding: 15px;
    margin: 15px auto;
}

/* forms */

.new-post-form {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-post-form input, .new-post-form textarea{
    border: 1px solid grey;
    padding: 4px;
    border-radius: 4px;
}

/* post */

.posts-list {
    width: 600px;
    margin: auto;
    padding: 15px;
}

.post {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid grey;
    border-radius: 4px;
    min-width: 500px;
}

.posts-list-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* utils */

.button {
    border: none;
    background-color: #0d6efd;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

/* header */

.my-header {
    border-bottom: 1px solid grey;
}

.my-inner-header {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 12px 15px;
}

.my-nav ul {
    display: flex;
    justify-content: space-between;
}

.my-nav li {
    margin: 0 15px;
}

/* Properties */

.center {
    text-align: center;
    display: block;
}

.my-flex-start {
    display: flex;
    justify-content: start;
}

.blue {
    color:#0d6efd;
}

.red-bg {
    background-color: rgb(255, 0, 0)
}

.underline {
    text-decoration: underline;
}

.margin-top {
    margin: 10px 0;
}

.margin-left {
    margin-left: 10px;
}