@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

textarea {
    height: 150px;
}

button {
    cursor: pointer;
}

p {
    font-weight: 300;
    font-size: 14px;
}

.main {
    max-width: 1200px;
    padding: 15px;
    margin: 15px auto;
}

.logout-page {
    width: 600px;
    height: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* forms */

.new-post-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.new-post-form input, .new-post-form textarea{
    border: 1px solid grey;
    padding: 4px;
    border-radius: 4px;
}

/* post */

.post-content {
    padding: 5px;
}

.post-content img {
    margin: 10px 0;
}

.post-username, .post-tags {
    font-weight: 300;
    font-size: 14px;
    color: grey;
}

.post-time {
    font-weight: 300;
    font-size: 12px;
    color: grey;
}

.post-tags {
    font-weight: 300;
    font-size: 12px;
    color: black;
    background-color: rgb(229, 229, 229);
    border-radius: 4px;
    padding: 4px;
}

.post-header {
    display: flex;
}

.profile-icon {
    margin: 5px 10px 5px 5px;
    width: 40px;
    height: 40px;
}

.posts-list {
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

.post {
    display: flex;
    border-bottom: 1px solid rgb(190, 190, 190);
    width: 100%;
    padding: 8px 0;
}

.posts-list-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.post-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

.post-title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-title-dropdown:hover{
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
    padding: 2px 6px;
}

.post-content {
    min-height: 100px;
    margin-bottom: 15px;
}

.post img {
    margin: 0 15px 10px 0;
    width: 80px;
    height: 60px;
}

.post-card-tags {
    font-size: 12px;
    background-color: rgb(218, 215, 215);
    border-radius: 4px;
    padding: 2px 4px;
    margin-right: 5px;
}

.post-card-img-thumbnail {
    width: 100px;
    margin-right: 15px;
}

.post-card-img-thumbnail img{
    min-height: 100%;
    min-width: 100%;
}

.post-card-img-placeholder {
    border: 1px solid rgb(190, 185, 185);
    width: 100px;
    height: 80px;
    text-align: center;
    align-content: center;
}

.post-stats {
    display: flex;
    gap: 10px;
    width: 200px;
    margin: 15px 0;
}

.profile-img {
    width: 30px;
    height: 30px;
}

.profile-page-img {
    margin: 20px auto;
    max-height: 250px;
    max-width: 250px;
}

/* comment */

.comments-section {
    padding: 15px;
    margin: auto;
    max-width: 800px;
    margin-bottom: 20px;
}

.comment-toggle {
    padding: 10px;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid rgb(207, 206, 206);
}

.comment {
    width: 100%;
    border: 1px solid rgb(190, 187, 187);
    padding: 10px;
}

.comment-buttons {
    padding: 4px 8px;
}

/* utils */

.small-font{
    font-size: 12px;
}

.button {
    border: none;
    background-color: #0d6efd;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
}

/* header */

.my-header {
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.my-inner-header {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 12px 15px;
}

.my-nav ul {
    display: flex;
    justify-content: space-between;
}

.my-nav li, .my-logo {
    margin: 0 15px;
    padding: 4px 8px;
    font-size: 16px;
}

.my-nav li:hover, .comment-buttons:hover {
    background-color: rgb(220, 217, 217);
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

/* Properties */

.center {
    text-align: center;
    display: block;
}

.my-flex-start {
    display: flex;
    justify-content: start;
}

.my-flex-end {
    display: flex;
    justify-content: end;
}

.blue {
    color:#0d6efd;
}

.red-bg {
    background-color: rgb(255, 0, 0)
}

.underline {
    text-decoration: underline;
}

.margin-top {
    margin-top: 10px;
}

.margin-top-xl {
    margin-top: 40px;
}

.margin-left {
    margin-left: 10px;
}

.margin-bottom-lg {
    margin-bottom: 40px;
}

.font-24 {
    font-size: 24px;
}

.ml-l {
    margin-left: 20px;
}

.error {
    text-align: center;
    color: red;
}

.black {
    color: black;
}

.icon {
    width: 18px;
    height: 18px;
}