@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

textarea {
    height: 150px;
}

button {
    cursor: pointer;
}

.main {
    max-width: 1200px;
    padding: 15px;
    margin: 15px auto;
}

/* forms */

.new-post-form {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-post-form input, .new-post-form textarea{
    border: 1px solid grey;
    padding: 4px;
    border-radius: 4px;
}

/* post */

.post-username, .post-tags {
    font-weight: 300;
    font-size: 14px;
    color: grey;
}

.post-time {
    font-weight: 300;
    font-size: 12px;
    color: grey;
}

.post-tags {
    font-weight: 300;
    font-size: 12px;
    color: black;
    background-color: rgb(229, 229, 229);
    border-radius: 4px;
    padding: 4px;
}

.post-header {
    display: flex;
}

.profile-icon {
    border: 1px solid black;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.posts-list {
    width: 600px;
    margin: auto;
    padding: 15px;
}

.post {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid grey;
    border-radius: 4px;
    min-width: 500px;
}

.posts-list-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}

.post-title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-title-dropdown:hover{
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
    padding: 2px 6px;
}

.post-content {
    min-height: 200px;
}

/* utils */

.button {
    border: none;
    background-color: #0d6efd;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}

/* header */

.my-header {
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.my-inner-header {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 12px 15px;
}

.my-nav ul {
    display: flex;
    justify-content: space-between;
}

.my-nav li {
    margin: 0 15px;
}

/* Properties */

.center {
    text-align: center;
    display: block;
}

.my-flex-start {
    display: flex;
    justify-content: start;
}

.my-flex-end {
    display: flex;
    justify-content: end;
}

.blue {
    color:#0d6efd;
}

.red-bg {
    background-color: rgb(255, 0, 0)
}

.underline {
    text-decoration: underline;
}

.margin-top {
    margin: 10px 0;
}

.margin-left {
    margin-left: 10px;
}

.font-24 {
    font-size: 24px;
}

.ml-l {
    margin-left: 20px;
}